@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --secondary-color:#ff4d00;
    --main-color-1:#222;
    --main-color-2:white;
    }
    * {
        box-sizing: border-box;
margin: 0;

      }
.main-color {
color: var(--secondary-color);
}
.bg-main {
    background-color: #ff4d00;
}